* {
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

body {
    margin: 0;
    font-size: 42pt;
}

.clearfix {
    clear: both;
}

.container-width {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.logo-container {
    float: left;
    width: 50%;
}

.flex-sect {
    padding: 100px 0;
}

.flex-desc {
    width: 100%;
    margin-bottom: 55px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 5px;
}

.form {
    border-radius: 3px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.2);
}

.textarea {
    font-size: 1em;
    width: 100%;
    height: 200px;
    margin: 15px;
    margin-top: 40px;
    padding: 20px;

    border-radius: 2px;
    color: black;
    background-color: white;
    border: 2px solid #a3ba00;
    border-radius: 10px;
}

.label {
    width: 100%;
    display: block;
}

.buttoncontainer {
    width: 100%;
    margin: 0;
}

.button {
    width: 20%;
    margin: 0;
    background-color:white;
    border: none;
    color: #fff;
    height: auto;
    padding: 0;
    font-size: 8vmin;
    cursor: pointer;
}

#ieio {
    text-align: center;
}

#i21qyb {
    color: black;
}

#sectionform {
    top: 1px;
    padding: 28px 0 0 0;
    color: #333;
}

#thankyou {
    top: 1px;
    padding: 20px 0 0 0;

}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 8vmin;
    color: #a3ba00;
    cursor: pointer;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #bcd400 !important;
}

.rating > span.rating-active:before,
.rating > span.rating-active:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #a3ba00;
}

button {
    background-color: #a3ba00;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
}